*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    height: 100px;
    background-color: #082032;
     color:#EEEEEE;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-bottom: 50px;
     
}

.nav > button{
    border: none;
    background-color: #082032;
    color: #EEEEEE;
    height: 50px;
    font-size: 24px;
    padding: 15px 15px 15px 60px;
}

.modal {
    display: none;
    padding: 30px;
    border: 1px solid black;
    width: 50%;
    height: auto;
    margin: auto;
    background-color: #2C394B;
    border-radius: 3px;
    color: #EEEEEE;
  }

.modal > button {
    color: #EEEEEE;
    border: none;
    background-color: #2C394B;
}

input[type=text]{
    width: 100%;
    padding :12px 8px;
    
    
}

.modalContent{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.close {
    color: #EEEEEE;
    background-color: #2C394B;
    border: none;
    border-bottom: 2px solid #EEEEEE;
    font-size: 18px;
}
